#CategoryDetail {
  padding: 100px 0;
  h1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}